
.st2i-button-container {
    display: flex;
    justify-content: flex-end;
}

.mat-mdc-list-item-icon {
    color: rgba(119, 12, 12, 0.54);
}

.list-header {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 8px;
}

.list-item {
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #f0f0f0;
    padding: 8px;
}

.centered-component {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    margin-left: 20%;
    margin-right: 20%;


    /* adjust the values below to set the fixed distances from the edges of the screen */
    margin-top: 50px;
    margin-bottom: 50px;

    max-height: 100%;
    overflow: auto;
}


/****************************************/


.table-container {
    display: flex;

}

.scroll-button {
    width: 40px;
    height: 40px;
    font-size: 24px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.scroll-button:hover {
    background-color: #f0f0f0;
}


.scroll-container {
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
}

.table {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 2%); /* Subtracting 2% for the spacing */
    min-width: 300px; /* Adjust as needed */

    border-right: 1px solid #999; /* Right border */
    padding: 3px; /* Add padding to create spacing inside the table */
    margin-right: 1%; /* Adjust margin as needed */
}

.description {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 17px;
    font-weight: bold;
    text-align: start;

}

.search-filter {
    margin-bottom: 5%;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 90%;
}


/****************************/

h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.checkbox-group-wrapper {
    height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.checkbox-group {
    display: block;
    margin-bottom: 10px;
}

mat-checkbox {
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    .table {
        width: 100%;
        margin: 0 0 10px;
        padding: 10px;
    }

    .table-container {
        margin-right: 10px;
    }
}

.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}
