

<div class="centered-component" >
  <label style="font-weight: bold; margin-bottom: 3%; font-size: large">Résumé des microservices générés</label>
<!--<mat-list>-->
<!--  <mat-list-item class="list-header">Micro-services</mat-list-item>-->
<!--  <ng-container *ngFor="let ms of listMs">-->
<!--    <mat-list-item style="cursor: pointer" class="list-item">-->
<!--      <mat-icon style="margin-right: 4%" matListIcon>folder</mat-icon>-->
<!--      <p matLine>{{ms.labelToDisplay || ms.labelType }}</p>-->
<!--      <h4 matLine>{{ms.codeType}}</h4>-->
<!--    </mat-list-item>-->
<!--    <div *ngIf="(ms.labelType != 'Eureka') && (ms.labelType != 'Gateway')  ">-->
<!--      <section class="table-container-wrapper">-->
<!--        <div class="table-container" *ngFor="let tableData of tables | keyvalue">-->
<!--          <div class="table">-->
<!--            <h2>{{ tableData.key }}</h2>-->
<!--            <div class="checkbox-group-wrapper">-->
<!--              <div class="checkbox-group" *ngFor="let item of tableData.value">-->
<!--                <label (change)="onCheckboxClick($event, item , ms)" style="cursor: pointer" class="checkbox-container">-->
<!--                  <input type="checkbox"-->
<!--                         [value]="item"-->
<!--                         >-->
<!--                  <span class="checkmark"></span>-->
<!--                  {{ item }}-->
<!--                </label>-->


<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->

<!--    </div>-->

<!--  </ng-container>-->
<!--</mat-list>-->


  <mat-accordion class="example-headers-align" multi style="margin-bottom: 2%;">
    <mat-expansion-panel *ngFor="let ms of listMs" style="margin-bottom: 2%;background-color: #f0f0f0;" [disabled]="ms.labelType === 'Eureka' || ms.labelType === 'Gateway'">
      <mat-expansion-panel-header style="border-bottom: 1px solid #999">
        <mat-panel-title style="font-weight: bold; font-size: medium">
          {{ms.labelToDisplay || ms.labelType }}
        </mat-panel-title>
        <mat-panel-description>
          {{ms.codeType}}
          <mat-icon>folder</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>


      <label style="font-weight: bold; margin-top: 3%; margin-bottom: 3%">Choisir les tableaux à reverser dans {{ms.labelToDisplay || ms.labelType }} </label>




      <div class="scroll-container">
        <div class="table-container" #tableContainer>
          <div class="table" *ngFor="let tableData of tables | keyvalue">
            <h3 style="font-weight: bold;background-color: #e6e6e6;;">{{ tableData.key }}</h3>
            <div class="checkbox-group-wrapper">
              <label style="cursor: pointer" class="checkbox-container">

                <input type="checkbox" (change)="selectAllCheckbox($event, tableData,ms)">
                <span class="checkmark"></span>
                Select All
              </label>
                <div class="search-filter">
                  <input type="text" class="search-input" [(ngModel)]="tableData.searchFilter" placeholder="Rechercher" (input)="filterCheckboxGroup(tableData)">
  <!--                <st2i-text-field [(ngModel)]="tableData.searchFilter" placeholder="Search" (input)="filterCheckboxGroup(tableData)">-->
  <!--                </st2i-text-field>-->
                </div>


              <div class="checkbox-group"  *ngFor="let item of getFilteredItems(tableData)" (change)="onCheckboxClick($event, item, tableData, ms)">
                <label>
<!--                <label (change)="onCheckboxClick($event, item, tableData,ms)">-->
                  <input type="checkbox" [value]="item" [checked]="isItemSelected(tableData, item,ms)">
                  <span class="checkmark"></span>
                  {{ item }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>








    </mat-expansion-panel>
  </mat-accordion>

  <st2i-button-loading class="st2i-button-container"(click)="reverse()" [disabled]="selectedTables.length === 0" [color]="'accent'"   >Suivant</st2i-button-loading>
</div>
