<st2i-card [metadata]="cardMetadata(metadata)">
    <form [formGroup]="form" #formGroupDirective="ngForm">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between stretch">
            <div fxFlex="100" class="cp5" fxLayout="row wrap" fxLayoutAlign="start center">

                <div *ngFor="let field of metadata.fields">
                    <div [ngSwitch]="field['type']">
                        <div fxFlex.lt-md="100" *ngSwitchDefault>
                            <st2i-text-field [ngStyle]="field['style']" [control]="getFormControl((field['key']))"
                                             [label]="field['label'] | translate"
                            ></st2i-text-field>

                        </div>
                        <div fxFlex.lt-md="100" *ngSwitchCase=COMMON_Filter_TYPES.SELECT>
                            <st2i-select [control]="getFormControl((field['key']))"
                                         [metadata]="field['selectMetaData']"
                                         [listItems]="SelectMap.get(field['table'])"
                                         [ngStyle]="field['style'] "
                            ></st2i-select>

                        </div>
                        <div fxFlex.lt-md="100" *ngSwitchCase="COMMON_Filter_TYPES.DATE">
                            <st2i-select-date [control]="getFormControl((field['key']))"
                                              [label]="field['label'] | translate"
                                              [ngStyle]="field['style']"
                            ></st2i-select-date>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>


            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center">
                <st2i-filter-actions
                        [hasShowMorebtn]="false"
                        (onSearchClicked)="onSearch()"
                        (onResetClicked)="onReset()"
                        (onShowMoreClicked)="showMoreFilterOptions = $event"
                ></st2i-filter-actions>
            </div>
        </div>

    </form>
</st2i-card>
