<st2i-dialog [title]="'Information Colonne'">
  <div>
    <div>
      <form [formGroup]="formColumn">
        <!-- Choix de Langues pour une colonne -->
        <mat-slide-toggle formControlName="unilang">Colonne Unilingue</mat-slide-toggle>
        <!-- Definition des langues -->

        <div formArrayName="def">
          <div *ngFor="let lg of def.controls;let k=index" [formGroupName]="k">
            <div *ngIf="formColumn.get('unilang').value Then unilang;Else multilingue"></div>
            <ng-template #unilang>
              <div fxFlex="50" fxFlex.lt-md="100">
                <st2i-select [listItems]="attributes"
                             [metadata]="entityMetadata"
                             [control]="getcontrol(def,k,'content')">
                </st2i-select>
              </div>
            </ng-template>
            <ng-template #multilingue>
              <div class="parent-container">
                <mat-icon class="add-icon" (click)="addLangCol()">add_circle_outline</mat-icon>
                <mat-icon class="remove-icon" (click)="delLangCol(k)">remove _circle_outline</mat-icon>
              </div>
              <div fxFlex="33.3" fxFlex.lt-md="100">
                <st2i-select [listItems]="data['listLangues']"
                             [metadata]="selectLangue"
                             [control]="getcontrol(def,k,'lg')">

                </st2i-select>
              </div>
              <div fxFlex="33.3" fxFlex.lt-md="100">
                <st2i-select [listItems]="attributes"
                             [metadata]="entityMetadata"
                             [control]="getcontrol(def,k,'content')">
                </st2i-select>
              </div>
            </ng-template>
          </div>
        </div>



          <st2i-select [listItems]="COMMON_TYPES_CODESS"
                       [metadata]="typeCol"
                       [control]="getFormControl('type')">
          </st2i-select>
          <!-- Labels des langues -->
          <div formArrayName="labels">
            <div *ngFor="let label of labels.controls;let i=index" [formGroupName]="i">
              <st2i-text-field [control]="getcontrol(labels,i,'content')"
                               [prefix]="getcontrol(labels,i,'labelg').value"
                               [label]="'Label du colonne '">
              </st2i-text-field>

            </div>
          </div>





      </form>
      <st2i-button-loading (click)="ajouterCol()" mat-raised-button type="button">
        <mat-icon class="mx-1" style="font-size: 1.4rem;">save</mat-icon>
        <span>{{ 'Ajouter cette colonne au metadata' | translate }}</span>
      </st2i-button-loading>
    </div>
  </div>
</st2i-dialog>