<st2i-dialog [title]="'Information Colonne a filtrer'">
    <form [formGroup]="formColumn">
        <!-- Choix de Langues pour une colonne -->
        <!-- Definition des langues -->

        <!-- Labels des langues -->
        <st2i-text-field [control]="getFormControl('key')" [label]="'Définition'" [read]></st2i-text-field>

        <st2i-select [listItems]="listTypesFiltre"
                     [metadata]="filtreTypesMetadata"
                     [control]="getFormControl('type')"
        >
        </st2i-select>
<!--        <st2i-select [listItems]="specifList"-->
<!--                     [metadata]="filtreSpeMetadata"-->
<!--                     [control]="getFormControl('specificSearch')">-->
<!--        </st2i-select>-->
        <mat-form-field>
            <mat-label>Favorite food</mat-label>
            <mat-select  formControlName="specificSearch" name="specificSearch">
                <mat-option *ngFor="let specificSearch of specifList" [value]="specificSearch.value">
                    {{specificSearch.key}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="formColumn.get('type').value=='select'">
            <st2i-select></st2i-select>
        </div>


    </form>
    <div class="st2i-button-container">

        <st2i-button-loading (click)="AddtoFilter()" mat-raised-button type="button"
                             [disabled]="!formColumn.valid">Ajouter cette colonne au filtre
        </st2i-button-loading>
    </div>
</st2i-dialog>
