.header-slim{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: cornflowerblue;
    padding: 5px 0;
    border-radius: 10px 10px 0 0;

}
th{
    background-color: gray;
    border-radius: 0px 0px 0 0;

}
mat-form-field{
    width: 50%;
    align-content: center;
    border-color: black;

}
