.example-tree-invisible {
    display: none;
}
a ,mat-tree-node{
    /* your own custom styles here */
    /* e.g. */

    background-color: white !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 30px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    text-align: center !important;
    max-width: unset !important;
    white-space: pre-wrap !important;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 20px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
    padding-left: 5px;
}


.example-tree-invisible {
    display: none;
}

.mat-tree-node {
    display: flex;
    align-items: center;
    padding: 1px;
}

.mat-tree-node button {
    min-width: 30px;
}

.mat-icon-rtl-mirror {
    transform: scaleX(-1);
}

.mat-tree-node.active {
    background-color: #e0e0e0;
}

/* Styles for directories */
.mat-tree-node.directory {
    color: #2196f3;
}

.mat-tree-node.directory button {
    color: #2196f3;
}

.mat-tree-node.directory .mat-icon-button {
    background-color: #e3f2fd;
}

/* Styles for files */
.mat-tree-node.file {
}

.mat-tree-node.file button {
}

.mat-tree-node.file .mat-icon-button {
    background-color: #f5f5f5;
}

.right-actions{

}
.prj-actions{
}

.mat-tree-node {
    display: flex;
    align-items: center;
    padding: 5px;
}

.mat-tree-node button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.mat-tree-node button:focus {
    outline: none;
}

.mat-tree-node button svg {
    width: 24px;
    height: 24px;
}

.mat-tree-node button img {
    width: 24px;
    height: 24px;
}

.mat-tree-node button div {
    margin-right: 10px;
}

.mat-tree-node button div:first-child {
    margin-right: 15px;
}

.mat-tree-node button div svg path {
    fill: #333; /* Customize the color of the SVG icon */
}

.mat-tree-node span {
    margin-left: 10px;
}

/* Additional styles for the icon placeholders */
.mat-tree-node div {
    /* Add any necessary styles for the icon placeholders here */
}
.mat-tree-node {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
}

.example-tree-node-name {
    margin-left: 8px;
    font-weight: bold;

}

.toggle-button {
    margin-right: 8px;

    background-color: transparent;
    border: none;
    transition: transform 0.2s ease;
}

.toggle-button:hover {
    transform: scale(1.1);
}

.menu-button {

    background-color: transparent;
    border: none;
    transition: transform 0.2s ease;
}

.menu-button:hover {
    transform: scale(1.1);
}

.nested-tree-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.example-tree-invisible {
    display: none;
}
.centered-component {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    margin-left: 20%;
    margin-right: 20%;


    /* adjust the values below to set the fixed distances from the edges of the screen */
    margin-top: 50px;
    margin-bottom: 50px;

    max-height: 100%;
    overflow: auto;
}
.centered-form{
    padding-left: 35%;

    align-items: flex-end;
}
