
<div class="centered-component">

<mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl"
>

    <mat-tree-node *matTreeNodeDef="let node"
                   matTreeNodeToggle [style.display]="checkType(node)">

        <li class="mat-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button [disabled]="!node.parent">
                <div *ngIf="icon(node)==='html'">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path d="M0 32l34.9 395.8L191.5 480l157.6-52.2L384 32H0zm308.2 127.9H124.4l4.1 49.4h175.6l-13.6 148.4-97.9 27v.3h-1.1l-98.7-27.3-6-75.8h47.7L138 320l53.5 14.5 53.7-14.5 6-62.2H84.3L71.5 112.2h241.1l-4.4 47.7z"/>
                    </svg>
                </div>
                <div *ngIf="icon(node)=='css'">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path d="M480 32l-64 368-223.3 80L0 400l19.6-94.8h82l-8 40.6L210 390.2l134.1-44.4 18.8-97.1H29.5l16-82h333.7l10.5-52.7H56.3l16.3-82H480z"/>
                    </svg>

                </div>
                <div *ngIf="icon(node)=='tsComp'">
                    <img src="https://static.thenounproject.com/png/2604571-200.png"/>

                </div>

                <div *ngIf="icon(node)=='routeM'">
                    <img src="https://static.thenounproject.com/png/2604571-200.png"/>

                </div>

                <div *ngIf="icon(node)=='module'">
                    <img src="https://static.thenounproject.com/png/2604571-200.png"/>

                </div>


                <!--        <mat-icon (click)="onSelectionChanged(node)">{{returnicon(node)}}</mat-icon>-->


            </button>
            {{node.name}}
        </li>
        <!--    <app-file-viewer [node]="node"-->
        <!--                            *ngIf="btnClicked">-->

        <!--  </app-file-viewer>-->

    </mat-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" [style.display]="checkType(node)">
        <div class="mat-tree-node" [style.display]="checkType(node)">
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'toggle ' + node.name">
                <mat-icon>
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            <span class="example-tree-node-name">{{node.name}}</span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialog(node)">Ajouter un module</button>
                <button mat-menu-item (click)="goToComp(node)">Ajouter un Composant Data Table</button>
                <button mat-menu-item (click)="goToCompDetail(node)">Ajouter un Composant Détail</button>

                <!--                <button mat-menu-item (click)="expand(node)">Expand</button>-->

            </mat-menu>
        </div>
        <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet>
            </ng-container>
        </ul>
    </mat-nested-tree-node>
</mat-tree>


<div class="prj-actions">
    <div class="right-actions">
<!--        <st2i-button-loading (click)="runApp()">Aperçu</st2i-button-loading>-->

    </div>
</div>
</div>
