.mat-stepper-vertical {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}


.centered-component {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    margin-left: 20%;
    margin-right: 20%;


    /* adjust the values below to set the fixed distances from the edges of the screen */
    margin-top: 50px;
    margin-bottom: 50px;

    max-height: 100%;
    overflow: auto;
}

.centered-form {
    padding-left: 35%;

    align-items: flex-end;
}


* {

    --transition: 0.15s;
    --border-radius: 0.5rem;
    --background: #3b87ea;
    --box-shadow: #3b87ea;
}


svg:not(:root) {
    overflow: hidden;
    height: 50px;
    margin-left: 450px;
}
.hover-text {
    display: none;
}

.hover-svg:hover + .hover-text {
    display: block;
}

.label-style {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.mat-radio-button {
    margin-right: 10px; /* add some spacing between radio buttons */
    padding: 5px; /* add padding to radio buttons */
}

.mat-radio-button .mat-radio-outer-circle {
    border-radius: 50%; /* make the outer circle of the radio button circular */
    width: 20px; /* set the width of the outer circle */
    height: 20px; /* set the height of the outer circle */
}

.mat-radio-button .mat-radio-inner-circle {
    background-color: #1976d2; /* change the color of the inner circle when the radio button is selected */
}

.mat-ra {
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* add padding to the container */
    margin: auto;
}


/* CSS code for mat-slide-toggle checked state */
th.mat-header-cell {
    color: black;
    background-color: #f0f1f1;
    text-align: center !important;
    text-decoration-color: black;
    -webkit-text-fill-color: black;
    border-radius: 0 !important;
}
::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}
.mat-column-login {
    text-align: left !important;
    width: 15%!important;
    padding: 0 5px !important;
}
.mat-column-role {
    text-align: center !important;
    width: 15%!important;
    padding: 0 5px !important;
}
.mat-column-dt_ajout {
    text-align: center !important;
    width: 12%!important;
    padding: 0 5px !important;
}
.mat-column-isActifFr {
    text-align: center !important;
    width: 10%!important;
    padding: 0 5px !important;
}
.mat-column-isActifAr {
    text-align: center !important;
    width: 10%!important;
    padding: 0 5px !important;
}
.mat-column-isActifEn {
    text-align: center !important;
    width: 10%!important;
    padding: 0 5px !important;
}
.mat-column-actions {
    text-align: center !important;
    width: 8%!important;
    padding: 0 5px !important;
}
.svg {
    width: 14px;
    height: 14px;
    color: red;
    align-items: center;

}
.mat-icon{
    width: 24px;
    height: 24px;
    align-items: center;
    align-content: center;
}
my-icon{

}
.st2i-button-container {
    display: flex;
    justify-content: flex-end;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.mat-expansion-panel .mat-expansion-panel-header-title {
    color: white;
    align-items: center;
}

.mat-expansion-panel .mat-expansion-panel-header-description {
    font-weight: lighter;
    color: white;
}

.mat-expansion-panel-header {
    color: white;
    background-color: #35363a;
}

mat-expansion-panel-header.mat-expanded,
mat-expansion-panel-header.mat-expanded:focus {
    background-color: #35363a;
}

.mat-expansion-panel:not(.mat-expanded)
.mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
    background-color: #35363a;
}

.mat-expansion-panel.mat-expanded
.mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
    background-color:#35363a
;
}

.mat-expansion-panel:not(.mat-expanded) {
    border-radius: 8px !important;
    margin: 16px 0;
}

.mat-expansion-panel.mat-expanded .mat-expansion-panel-header {
    border-radius: 8px 8px 0 0 !important;
}

