<div class="centered-component">
    <div>
        <mat-accordion displayMode="default" multi>
            <mat-expansion-panel
                    hideToggle
                    #panel="matExpansionPanel"
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
            >
                <mat-expansion-panel-header expandedHeight="47px" collapsedHeight="47px">
                    <mat-panel-title>
                        <span><strong>Information du Composant</strong>  </span>
                    </mat-panel-title>
                    <mat-icon *ngIf="!panelOpenState">add</mat-icon>
                    <mat-icon *ngIf="panelOpenState">remove</mat-icon>
                </mat-expansion-panel-header>
                <div>
                    <form [formGroup]="compInfo">
                        <st2i-text-field [placeholder]="'Nom du composant'"
                                         [control]="getFormControl(compInfo,'nomComp')"
                                         [label]="'Nom du Composant '"

                        ></st2i-text-field>
                        <st2i-text-field [placeholder]="'Path du composant'"
                                         [control]="getFormControl(compInfo,'pathComp')"
                                         [label]="'Path du Composant '"

                        ></st2i-text-field>
                    </form>
                </div>

            </mat-expansion-panel>
            <mat-expansion-panel
                    hideToggle
                    #panel="matExpansionPanel"
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
            >
                <mat-expansion-panel-header expandedHeight="47px" collapsedHeight="47px">
                    <mat-panel-title>
                        <span><strong>Microservie et Mapping</strong>  </span>
                    </mat-panel-title>
                    <mat-icon *ngIf="!panelOpenState">add</mat-icon>
                    <mat-icon *ngIf="panelOpenState">remove</mat-icon>
                </mat-expansion-panel-header>

                <form [formGroup]="formInfo">
                    <div>
                        <st2i-select [listItems]="listMs" [metadata]="selectedMs"
                                     (onValueChangeEvent)="initEntCont($event)"
                                     [control]="getFormControl(formInfo,'microservice')"></st2i-select>

                    </div>
                    <div>
                        <st2i-select [listItems]="entities" [metadata]="selectedTab"
                                     (onValueChangeEvent)="setMappValue($event)"
                                     [control]="getFormControl(formInfo,'entite')"></st2i-select>

                    </div>
                    <!--      <div>-->
                    <!--        <st2i-select [listItems]="controllers" [metadata]="controllerDetail" (onValueChangeEvent)="initMappingsCont($event)"-->
                    <!--                     [control]="getFormControl(formInfo,'controlleur')"></st2i-select>-->
                    <!--      </div>-->
                    <!--      <div>-->
                    <!--        <st2i-select [listItems]="mappings" [metadata]="controllerMappingDetail"-->
                    <!--                     [control]="getFormControl(formInfo,'mapping')"></st2i-select>-->
                    <!--      </div>-->
                    <st2i-text-field [placeholder]="'Mapping'"
                                     [control]="getFormControl(formInfo,'mapping')"
                                     [isDisabled]="true"
                                     [label]="'Mapping '"

                    ></st2i-text-field>
                </form>

            </mat-expansion-panel>
            <mat-expansion-panel
                    hideToggle
                    #panel="matExpansionPanel"
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
            >
                <mat-expansion-panel-header expandedHeight="47px" collapsedHeight="47px">
                    <mat-panel-title>
                        <span><strong>Information du Table</strong>  </span>
                    </mat-panel-title>
                    <mat-icon *ngIf="!panelOpenState">add</mat-icon>
                    <mat-icon *ngIf="panelOpenState">remove</mat-icon>
                </mat-expansion-panel-header>
                <div>
                    <form [formGroup]="formDaTab">


                        <st2i-text-field [placeholder]="'Titre du table'"
                                         [control]="getFormControl(formDaTab,'title')"
                                         [label]="'Titre '"

                        ></st2i-text-field>
                        <div class="mat-ra">
                            <mat-slide-toggle formControlName="hasAdd">Bouton Ajout</mat-slide-toggle>
                            <mat-slide-toggle formControlName="hasFilter"> Filtre de recherche</mat-slide-toggle>
                            <mat-slide-toggle formControlName="hasPagination">Pagination</mat-slide-toggle>
                            <mat-slide-toggle formControlName="hasExport">Export</mat-slide-toggle>
                        </div>
                        <st2i-select *ngIf="formDaTab.get('hasExport').value" [listItems]="listOrien"
                                     [metadata]="selectedOrient"
                                     [control]="getFormControl(formDaTab,'exportOrientation')"></st2i-select>


                    </form>
                    <div>
                        <st2i-card
                                [metadata]="{title: 'Table des colonnes',hasAdd:true,hasFilter:false,hasExport:false,
                forDatatable:true,classList: {cardContent: 'p-0'}}"

                                (onAddClicked)="onAdd()">
                            <table matSort
                                   [dataSource]="responsePayloadCol.payload"
                                   mat-table
                                   style="width: 100%">
                                <ng-container matColumnDef="key" class="text-center">
                                    <th mat-header-cell *matHeaderCellDef> Définition</th>
                                    <td mat-cell *matCellDef="let element">{{element.key}} </td>
                                </ng-container>
                                <ng-container matColumnDef="lg" class="text-center">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Langue</th>
                                    <td mat-cell *matCellDef="let element">{{element.lg}} </td>
                                </ng-container>

                                <ng-container matColumnDef="type" class="text-center">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Type</th>
                                    <td mat-cell *matCellDef="let element">{{element.type}} </td>
                                </ng-container>

                                <ng-container matColumnDef="delete" class="text-center">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Action</th>
                                    <td mat-cell *matCellDef="let element let i = index">
                                        <div fxLayout="row" fxLayoutAlign="center center">

                                            <mat-icon (click)="deleteColumn(i)">delete</mat-icon>
                                        </div>

                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                        </st2i-card>

                    </div>
                </div>

            </mat-expansion-panel>
            <mat-expansion-panel
                    hideToggle
                    #panel="matExpansionPanel"
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
            >
                <mat-expansion-panel-header expandedHeight="47px" collapsedHeight="47px">
                    <mat-panel-title>
                        <span><strong>Détails Filtre</strong>  </span>
                    </mat-panel-title>
                    <mat-icon *ngIf="!panelOpenState">add</mat-icon>
                    <mat-icon *ngIf="panelOpenState">remove</mat-icon>
                </mat-expansion-panel-header>

                <form [formGroup]="formFilter">
                    <st2i-text-field [placeholder]="'Titre du Filtre'"
                                     [control]="getFormControl(formFilter,'title')"
                                     [label]="'Titre du Filtre'"

                    ></st2i-text-field>


                    <st2i-card
                            [metadata]="{title: 'Table des colonnes A filtrer',hasAdd:false,hasFilter:false,hasExport:false,
                forDatatable:true,classList: {cardContent: 'p-0'}}"

                            >
                        <ng-container>
                            <table matSort
                                   [dataSource]="responseColFiltre.payload"
                                   mat-table
                                   style="width: 100%"
                            >
                                <ng-container matColumnDef="key" class="text-center">
                                    <th mat-header-cell *matHeaderCellDef> Définition</th>
                                    <td mat-cell *matCellDef="let element">{{element.key}} </td>


                                </ng-container>


                                <ng-container matColumnDef="type" class="text-center">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Type</th>
                                    <td mat-cell *matCellDef="let element" >
                                        {{element.type}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="specificSearch" class="text-center">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> specificSearch</th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.specificSearch}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="update" class="text-center">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Supprimer</th>
                                    <td mat-cell *matCellDef="let element let i = index">
                                        <div fxLayout="row" fxLayoutAlign="center center">
                                        <mat-icon (click)="deleteFilterColumn(element,i)"> delete</mat-icon>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsFiltre"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsFiltre;"></tr>
                            </table>
                        </ng-container>
                    </st2i-card>


                </form>

            </mat-expansion-panel>


        </mat-accordion>


    </div>
    <div fxLayout="row" fxLayoutAlign="end center">

        <div class="st2i-button-container">

            <st2i-button-loading (click)="getForm()" mat-raised-button type="button"
                                 [disabled]="!formDaTab.valid&&!compInfo.valid">Génerer
            </st2i-button-loading>
        </div>
    </div>

</div>

<div>


</div>




