<div class="centered-component">
    <form [formGroup]="formUser">
        <st2i-text-field [control]="getFormControl('nom')"
                         [label]="'Nom '"></st2i-text-field>
        <st2i-text-field [control]="getFormControl('prenom')"
                         [label]="'Prénom '"></st2i-text-field>
        <st2i-text-field [control]="getFormControl('login')"
                         [label]="'Login'"></st2i-text-field>
        <st2i-text-field [control]="getFormControl('email')"
                         [label]="'E-mail'"
                         type="email"></st2i-text-field>

    </form>
    <div class="st2i-button-container">
        <st2i-button-loading (click)="updateUser()">Modifier l'utilisateur</st2i-button-loading>

    </div>
</div>
