<!--<iframe width="100%" height="1000%" src="http://192.168.137.1:8199/projet/api/swagger-ui/index.html?configUrl=/projet/api/v3/api-docs/swagger-config#/t-profile-controller/getListTProfileWs"></iframe>-->

<div fxLayout="row wrap">

    <div fxFlex="100" fxFlex.lt-md="100">
        <st2i-filter [metadata]="metadatFiltreProjet"
                     (searchoptions)="onSearch($event)"
                     >
        </st2i-filter>
        <st2i-datatable
                [responsePayload]="responsePayload"
                [metadata]="metadataProjet"
                (onAction)="onAction(this,$event)"
        ></st2i-datatable>
    </div>
</div>


