<!--<div *ngFor="let ms of responsePayload">-->
<!--<st2i-card [title]="ms.nomMs" >-->
<!--    <st2i-card-title>{{ms.nomMs}}</st2i-card-title>-->

<!--</st2i-card>-->
<!--</div>-->
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Small</mat-card-subtitle>
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
</mat-card>
