<div class="centered-component">
  <h2>Veuillez remplir les informations du composant "Fiche détails"</h2>
  <div>
    <form [formGroup]="compInfo">
      <st2i-text-field [placeholder]="'Nom du composant'"
                       [control]="getFormControl(compInfo,'nomComp')"
                       [label]="'Nom du Composant '"

      ></st2i-text-field>
      <st2i-text-field [placeholder]="'Routage du composant'"
                       [control]="getFormControl(compInfo,'pathComp')"
                       [label]="'Routage du Composant '"

      ></st2i-text-field>
    </form>
  </div>


  <div>
    <form [formGroup]="formDaTab">


      <st2i-text-field [placeholder]="'Titre de la fiche de détails'"
                       [control]="getFormControl(formDaTab,'title')"
                       [label]="'Titre de la fiche de détails'"

      ></st2i-text-field>
<!--      <div class="mat-ra">-->
<!--        <mat-slide-toggle formControlName="hasAdd">Bouton Ajout</mat-slide-toggle>-->
<!--        <mat-slide-toggle formControlName="hasFilter"> Filtre de recherche</mat-slide-toggle>-->
<!--        <mat-slide-toggle formControlName="hasPagination">Pagination</mat-slide-toggle>-->
<!--        <mat-slide-toggle formControlName="hasExport">Export</mat-slide-toggle>-->
<!--      </div>-->
<!--      <st2i-select *ngIf="formDaTab.get('hasExport').value" [listItems]="listOrien" [metadata]="selectedOrient"-->
<!--                   [control]="getFormControl(formDaTab,'exportOrientation')"></st2i-select>-->


    </form>

    <form [formGroup]="formInfo">
      <div>
        <st2i-select [listItems]="listMs" [metadata]="selectedMs" (onValueChangeEvent)="initEntCont($event)"
                     [control]="getFormControl(formInfo,'microservice')"></st2i-select>

      </div>
      <div>
        <st2i-select [listItems]="entities" [metadata]="selectedTab" (onValueChangeEvent)="setMappValue($event)"
                     [control]="getFormControl(formInfo,'entite')"></st2i-select>

      </div>
      <!--      <div>-->
      <!--        <st2i-select [listItems]="controllers" [metadata]="controllerDetail" (onValueChangeEvent)="initMappingsCont($event)"-->
      <!--                     [control]="getFormControl(formInfo,'controlleur')"></st2i-select>-->
      <!--      </div>-->
      <!--      <div>-->
      <!--        <st2i-select [listItems]="mappings" [metadata]="controllerMappingDetail"-->
      <!--                     [control]="getFormControl(formInfo,'mapping')"></st2i-select>-->
      <!--      </div>-->
      <st2i-text-field [placeholder]="'Mapping'"
                       [control]="getFormControl(formInfo,'mapping')"
                       [isDisabled]="true"
                       [label]="'Mapping '"

      ></st2i-text-field>
    </form>

    <st2i-card
      [metadata]="{title: 'Table des colonnes',hasAdd:true,hasFilter:false,hasExport:false,
                forDatatable:true,classList: {cardContent: 'p-0'}}"

      (onAddClicked)="onAdd()">
      <table matSort
             [dataSource]="responsePayloadCol.payload"
             mat-table
             style="width: 100%">
        <ng-container matColumnDef="key" class="text-center">
          <th mat-header-cell *matHeaderCellDef> Définition</th>
          <td mat-cell *matCellDef="let element">{{element.key}} </td>
        </ng-container>
        <ng-container matColumnDef="lg" class="text-center">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Langue</th>
          <td mat-cell *matCellDef="let element">{{element.lg}} </td>
        </ng-container>

        <ng-container matColumnDef="type" class="text-center">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Type</th>
          <td mat-cell *matCellDef="let element">{{element.type}} </td>
        </ng-container>

        <ng-container matColumnDef="delete" class="text-center">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Action</th>
          <td mat-cell *matCellDef="let element let i = index">
            <div fxLayout="row" fxLayoutAlign="center center" >

              <mat-icon style="cursor: pointer" (click)="deleteColumn(i)">delete</mat-icon>
            </div>

          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </st2i-card>

    <!--                <div fxLayout="row" fxLayoutAlign="end center">-->
    <!--                    <svg matTooltip="Ajouter une colonne" style="cursor: pointer" xmlns="http://www.w3.org/2000/svg"-->
    <!--                         viewBox="0 0 512 512" (click)="onAdd(tt)">-->
    <!--                        &lt;!&ndash;! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. &ndash;&gt;-->
    <!--                        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>-->
    <!--                        Ajouter une colonne-->
    <!--                    </svg>-->
    <!--                </div>-->
  </div>
</div>
<div>
  <!--  <st2i-datatable [metadata]="tableColonnes"-->
  <!--                  [responsePayload]="responsePayloadCol.payload"-->
  <!--                  (onAction)="onAction(this,$event)"-->
  <!--  ></st2i-datatable>-->


  <div fxLayout="row" fxLayoutAlign="end center">

    <div class="st2i-button-container">

      <st2i-button-loading (click)="getForm()" mat-raised-button type="button"
                           [disabled]="!formDaTab.valid&&!compInfo.valid">Génerer
      </st2i-button-loading>
    </div>
  </div>
</div>
