<div class="centered-component">
    <form [formGroup]="formUser">
        <st2i-text-field [control]="getFormControl('nom')"
                         [label]="'Nom '"></st2i-text-field>
        <st2i-text-field [control]="getFormControl('prenom')"
                         [label]="'Prénom '"></st2i-text-field>
        <st2i-text-field [control]="getFormControl('login')"
                         [label]="'Login'"></st2i-text-field>
        <st2i-text-field [control]="getFormControl('email')"
                         [label]="'E-mail'" #mail
                         type="email"></st2i-text-field>
        <st2i-text-field #password
                         type="password"
                         [control]="getFormControl('password')"
                         [label]="'athentification.login.content.cardAuthentification.body.form.password'"
                         prefix="lock"
                         [isIconPrefix]="true"
                         [suffix]="password.type == 'password'? 'visibility_off':'visibility'"
                         [isIconSuffix]="true"
                         [isSuffixClicked]="true"
                         (suffixClickedEvent)="password.type = password.type == 'password'? 'text':'password'"></st2i-text-field>
        <st2i-text-field   #password
                           type="password"[control]="getFormControl('confirmPassword')"
                         [label]="'athentification.login.content.cardAuthentification.body.form.password'"
                         prefix="lock"
                         [isIconPrefix]="true"
                         [suffix]="password.type == 'password'? 'visibility_off':'visibility'"
                         [isIconSuffix]="true"
                         [isSuffixClicked]="true"
                         (suffixClickedEvent)="password.type = password.type == 'password'? 'text':'password'"></st2i-text-field>

    </form>
    <div class="st2i-button-container">
        <st2i-button-loading (click)="addUser()">Ajouter l'utilisateur</st2i-button-loading>

    </div>
</div>
