<!--<input type="file" (change)="onDirectorySelected($event)" directory webkitdirectory/>-->

<!--<button (click)="cloneDefaultBack()"> CLICK ME !!!!</button>-->


<div class="centered-component">
  <form [formGroup]="form" >


    <div>
      <div >
        <label style="font-weight: bold; font-size: x-large">Nom de l'application</label>
        <st2i-text-field [placeholder]="'Veuillez choisir un nom de projet'" [control]="getFormControl('nomProjet')"
                         [label]="directoryPath"
        ></st2i-text-field>

        <label style="font-weight: bold; font-size: x-large">Partie backend</label>
        <st2i-text-field [placeholder]="'Le nom de la partie back-end à générer'" [control]="getFormControl('nomAppB')"
                         [label]="'Nom de la partie serveur'"
        ></st2i-text-field>

        <label style="font-weight: bold; font-size: x-large">Partie frontend</label>
        <st2i-text-field [placeholder]="'Le nom de la partie front-end à générer'"
                         [control]="getFormControl('nomAppF')"
                         [label]="'Nom de la partie web'"
        ></st2i-text-field>


        <div class="color-pickers">
          <div class="label-style" >
            <label>Couleur Primaire </label>
            <color-block  (onChange)="changeColorP($event)"></color-block>
          </div>
          <div class="label-style"  >
            <label>Couleur du side-Bar</label>
            <color-block
                         (onChange)="changeColorS($event)"></color-block>
          </div>
          <div class="label-style" >
            <label>Couleur du Nav-Bar</label>
            <color-block
                         (onChange)="changeColorN($event)"></color-block>
          </div>
        </div>

        <div >
          <div >
            <div class="list">
              <st2i-select
                      [metadata]="selectedLangues"
                      [listItems]="listLang"
                      [control]="lang">
              </st2i-select>
            </div>
            <div class="list">
              <st2i-select
                [metadata]="profil"
                [listItems]="listprofils"
                [control]="prof">
              </st2i-select>
            </div>

            <div>

            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="st2i-button-container">

    <st2i-button-loading  (click)="createDirectory();getSelectedProfils($event)" [color]="'accent'" [disabled]="!validateForm()" >Suivant
    </st2i-button-loading>
    </div>
<!--    <button [disabled]="!validateForm()">testtt btn</button>-->

  </form>

</div>

<!--<div class="centered-component">-->

<!--<mat-stepper [linear]="isLinear"  #stepper>-->
<!--  <mat-step [stepControl]="firstFormGroup" >-->
<!--    <form [formGroup]="firstFormGroup">-->
<!--      <ng-template matStepLabel>Application</ng-template>-->

<!--      <mat-form-field appearance="fill">-->

<!--        <mat-label>{{directoryPath}}/</mat-label>-->
<!--        <input matInput placeholder="Nom de l'application à générer" formControlName="firstCtrl" required [(ngModel)]="projectName">-->

<!--      </mat-form-field>-->


<!--      <mat-form-field appearance="fill">-->
<!--        <mat-label>Nom de l'application Back-end</mat-label>-->

<!--        <input matInput placeholder="Nom de la partie serveur" formControlName="secondCtrl" required [(ngModel)]="backEndName">-->
<!--      </mat-form-field>-->

<!--      <mat-form-field appearance="fill">-->
<!--        <mat-label>Nom de l'application Front-end</mat-label>-->
<!--        <input matInput placeholder="Nom de la partie web" formControlName="thirdCtrl" required [(ngModel)]="frontEndName">-->
<!--      </mat-form-field>-->

<!--      <div class="color-pickers">-->
<!--        <div>-->
<!--          <label>Couleur primaire de l'application</label>-->
<!--          <color-sketch [color]="primaryColor" (onChangeComplete)="changePrimaryColorComplete($event)"></color-sketch>-->
<!--        </div>-->
<!--        <div>-->
<!--          <label>Couleur secondaire de l'application</label>-->
<!--          <color-sketch [color]="secondaryColor" (onChangeComplete)="changeSecondaryColorComplete($event)"></color-sketch>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div>-->
<!--        <button  style="margin-top: 20px ; border: #1b1b1b"  mat-button matStepperNext>Next</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </mat-step>-->


<!--  <mat-step [stepControl]="secondFormGroup" label="Microservices" >-->
<!--    <form [formGroup]="secondFormGroup">-->
<!--      <label style="font-weight: bold">Les micro-services générés par défaut</label>-->
<!--      <div class="cont-main">-->
<!--        <div class="cont-checkbox" matTooltip="La configuration pour Eureka et Gateway sera généré par défaut" >-->
<!--          <input [checked]="true" [disabled]="true" type="checkbox" [id]="1" />-->
<!--          <label [for]="1">-->
<!--            <img [src]="springImg" />-->
<!--            <span class="cover-checkbox">-->
<!--          <svg viewBox="0 0 12 10">-->
<!--            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>-->
<!--          </svg>-->
<!--        </span>-->
<!--            <div class="info">Eureka / Gateway</div>-->
<!--          </label>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="cont-secondary">-->
<!--        <div class="cont-checkbox" matTooltip="Si vous cochez cette option un système de rapport sera inclus dans le projet" >-->
<!--          <input  (click)="stateReporting($event)" type="checkbox" [id]="2" />-->
<!--          <label [for]="2">-->
<!--            <img [src]="reportingImg" />-->
<!--            <span class="cover-checkbox">-->
<!--          <svg viewBox="0 0 12 10">-->
<!--            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>-->
<!--          </svg>-->
<!--        </span>-->
<!--            <div class="info">Reporting</div>-->
<!--          </label>-->
<!--        </div>-->

<!--        <div class="cont-checkbox"  matTooltip="Si vous cochez cette option un système de notification sera inclus dans le projet">-->
<!--          <input (click)="stateNotif($event)" type="checkbox" [id]="3" />-->
<!--          <label [for]="3">-->
<!--            <img [src]="notifImg" />-->
<!--            <span class="cover-checkbox">-->
<!--          <svg viewBox="0 0 12 10">-->
<!--            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>-->
<!--          </svg>-->
<!--        </span>-->
<!--            <div class="info">Notification</div>-->
<!--          </label>-->
<!--        </div>-->

<!--        <div class="cont-checkbox" matTooltip="Si vous cochez cette option un système d'administration sera inclus dans le projet" >-->
<!--          <input (click)="stateAdmin($event)" type="checkbox" [id]="4" />-->
<!--          <label [for]="4">-->
<!--            <img [src]="adminImg" />-->
<!--            <span class="cover-checkbox">-->
<!--          <svg viewBox="0 0 12 10">-->
<!--            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>-->
<!--          </svg>-->
<!--        </span>-->
<!--            <div class="info">Administration</div>-->
<!--          </label>-->
<!--        </div>-->
<!--      </div>-->


<!--      <mat-accordion>-->
<!--        <mat-expansion-panel hideToggle (opened)="openMsCustom()" (closed)="closeMsCustom()">-->
<!--          <mat-expansion-panel-header>-->
<!--            <mat-panel-title>-->
<!--              Micro-service personalisé-->
<!--            </mat-panel-title>-->
<!--            <mat-panel-description>-->
<!--              Cette section concerne les microservices personnalisés, remplissez-les pour en créer un-->
<!--            </mat-panel-description>-->
<!--          </mat-expansion-panel-header>-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>L'url de votre base de données</mat-label>-->
<!--            <input matInput formControlName="firstCtrl" placeholder="Le lien vers la base de données existante"-->
<!--                   required>-->
<!--          </mat-form-field>-->

<!--        </mat-expansion-panel>-->
<!--      </mat-accordion>-->


<!--      <div>-->
<!--        <button mat-button matStepperPrevious>Back</button>-->
<!--        <button  mat-button matStepperNext>Next</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </mat-step>-->


<!--  <mat-step>-->
<!--    <ng-template matStepLabel>Composants</ng-template>-->
<!--    <p>You are now done.</p>-->
<!--    <div>-->
<!--      <button mat-button matStepperPrevious>Back</button>-->
<!--      <button mat-button (click)="stepper.reset()">Reset</button>-->
<!--    </div>-->
<!--  </mat-step>-->
<!--</mat-stepper>-->
<!--</div>-->
