<st2i-dialog [title]="'Module'" class="dialog-container">

  <form [formGroup]="formM" style="display: block;">
    <div class="cp5" fxLayout="row wrap">
      <div fxFlex="100" class="cp5" fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex="33" fxFlex.lt-md="100">

            <st2i-text-field [control]="getFormControl('nomModule')"
                             [label]="'Nom du Module'"
                             lettre="true"
            ></st2i-text-field>
        </div>

        <div fxFlex="33" fxFlex.lt-md="100">

          <st2i-text-field [control]="getFormControl('routeModule')"
                           [label]="'Route du Module'"
                           lettre="true"
          ></st2i-text-field>
        </div>
      </div>
    </div>


    </form>

  <st2i-button-loading class="st2i-button-container" (click)="onSaveModule()" mat-raised-button type="button" >
    <mat-icon class="mx-1" style="font-size: 1.4rem;">save</mat-icon>
    <span>{{ 'Ajouter le Module' | translate }}</span>
  </st2i-button-loading>



</st2i-dialog>

