:root {
    --sidebar-header-height: 85px;
    --sidebar-background-color: #f8f8f8;
}

.sidebar-container {
    left: 0;
    right: 0;
}

.sidebar {
    align-items: center;
    justify-content: center;
    width: var(--sidebar-width);
    background: var(--sidebar-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-header-bg {
    background-color: #333;
}

.sidebar-header-height {
    height: var(--sidebar-header-height);
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
}

.menu-item {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 12px 20px;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.menu-item:first-child {
    border-top: none;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item.active {
    background-color: #222;
    color: #fff;
    transition: background-color 0.3s ease;
    border-right: 5px solid #3e90d0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item-title {
    font-weight: 600;
    font-size: 16px;
}

.main-panel {
    padding: 16px 25px 25px;
}
