<st2i-dialog [title]="'Choix des Langues du projet'">
  <div fxFlex="100" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="space-between stretch">
    <div >
      <div class="list">
        <st2i-select
          [metadata]="selectedLangues"
                     [listItems]="listLang"
                     [control]="lang">
        </st2i-select>
      </div>
      <div>

      </div>
      <st2i-button-loading (click)="getSelectedLang()">
        Ajouter les langues
      </st2i-button-loading>
    </div>
  </div>
</st2i-dialog>


