.mat-stepper-vertical {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}


.color-pickers {
    display: flex;
    font-family: Lato;

    justify-content: center;
    margin-bottom: 4%;
    gap: 20%; /* adjust this to set the space between the color pickers */
}

.centered-component {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    margin-left: 20%;
    margin-right: 20%;


    /* adjust the values below to set the fixed distances from the edges of the screen */
    margin-top: 50px;
    margin-bottom: 50px;

    max-height: 100%;
    overflow: auto;
}


.step-label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



* {

    --transition: 0.15s;
    --border-radius: 0.5rem;
    --background: #3b87ea;
    --box-shadow: #3b87ea;
}


.cont-main {
    display: inline-block;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top:10px;
    margin-bottom: 10px;
    width: 480px;
}
.cont-main > * {
    flex-basis: 40%;
}

.cont-secondary {
    display: flex;

    align-content: center;
    justify-content: center;
    margin-top:10px;
    margin-bottom: 10px;
    width: 450px;
}
.cont-secondary > * {
    display: flex;

}



.cont-checkbox {
    width: 90%;

    border-radius: var(--border-radius);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: transform var(--transition);
    background: white;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
}
.cont-checkbox:active {
    transform: scale(0.9);
}
.cont-checkbox input {
    display: none;
}
.cont-checkbox input:checked + label {
    opacity: 1;
    box-shadow: 0 0 0 3px var(--background);
}
.cont-checkbox input:checked + label .cover-checkbox {
    opacity: 1;
    transform: scale(1);
}
.cont-checkbox input:checked + label .cover-checkbox svg {
    stroke-dashoffset: 0;
}
.cont-checkbox input:checked + label img {
    -webkit-filter: none;
    /* Safari 6.0 - 9.0 */
    filter: none;
}
.cont-checkbox label {
    cursor: pointer;
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.9;
}
.cont-checkbox label img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    clip-path: polygon(0% 0%, 100% 0, 100% 81%, 50% 100%, 0 81%);
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.cont-checkbox label .cover-checkbox {
    position: absolute;
    right: 5px;
    top: 3px;
    z-index: 1;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: var(--box-shadow);
    border: 2px solid #fff;
    transition: transform var(--transition), opacity calc(var(--transition) * 1.2) linear;
    opacity: 0;
    transform: scale(0);
}
.cont-checkbox label .cover-checkbox svg {
    width: 13px;
    height: 11px;
    display: inline-block;
    vertical-align: top;
    fill: none;
    margin: 5px 0 0 3px;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    transition: stroke-dashoffset 0.4s ease var(--transition);
    stroke-dashoffset: 16px;
}
.cont-checkbox label .info {
    text-align: center;
    margin-top: 0.2rem;
    font-weight: 600;
    font-size: 0.8rem;
}



::ng-deep .tooltip{
    font-size: 16px;
    width: 250px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-plus-btn{
    color: #0daef9;
}

.header-style {
    font-size: 18px;
    background-color: #f0f0f0;
}

.header-style {
    font-size: 18px;
    background-color: #f0f0f0;

}

.st2i-button-container{
    display: flex;
    justify-content: flex-end;
}

