<div class="centered-component">
  <label style="font-weight: bold">Les micro-services générés par défaut</label>
  <form [formGroup]="form" class="centered-form"  fxLayout="column" >





<!--              <div class="cont-main">-->
<!--                <div class="cont-checkbox" matTooltipClass="tooltip" matTooltip="La configuration pour Eureka et Gateway sera généré par défaut" >-->
<!--                  <input [checked]="true" [disabled]="true" type="checkbox"  />-->
<!--                  <label >-->
<!--                    <img [src]="springImg" />-->
<!--                    <span class="cover-checkbox">-->
<!--                  <svg viewBox="0 0 12 10">-->
<!--                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>-->
<!--                  </svg>-->
<!--                </span>-->
<!--                    <div class="info">Eureka / Gateway</div>-->
<!--                  </label>-->
<!--                </div>-->
<!--              </div>-->

              <div fxLayout="row" fxLayoutAlign="space-between center" #checkboxList>


                <div *ngFor="let msType of listMsTypeToShow; let i = index" class="cont-checkbox" matTooltipClass="tooltip" matTooltip="Si vous cochez cette option un système de {{msType.labelType}} sera inclus dans le projet">

                  <input (click)="getClickedMsId($event,msType); "
                         [checked]="1===1"
                         [disabled]="1===1"
                         type="checkbox" [id]="msType.uniqueId" />
                  <label [for]="msType.uniqueId">

                    <img [src]="springImg" />
                    <span class="cover-checkbox">
                  <svg viewBox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </svg>
                </span>

                    <div class="info">
                      <ng-container *ngIf="msType.labelType === 'CustomMs'; else notCustom">


                        <div fxLayout="row" fxLayoutAlign="space-around center" >
                          <div fxFlex="65">
                            <label>{{msType.labelToDisplay}}</label> </div>

                          <div fxLayout="row" fxLayoutAlign="end center" >


                          <div matTooltip="Modifier" mat-icon-button (click)="onClickEditLabel(msType)" >
                            <mat-icon  class="my-icon-class" >edit</mat-icon> </div>


                              <div matTooltip="Supprimer"  mat-icon-button (click)="removeFromListToShow(msType)" >
                                <mat-icon class="my-icon-class" >delete</mat-icon> </div>

                          </div>

                        </div>
                      </ng-container>

                      <ng-template #notCustom>
                        <div fxLayout="row" fxLayoutAlign="space-around center" >
                          <div fxFlex="65">
                            <label>{{msType.labelType}}</label> </div>

                          <div matTooltip="Supprimer" *ngIf="(msType.labelType != 'Gateway' && msType.labelType != 'Eureka')" mat-icon-button (click)="removeFromListToShow(msType)" >
                            <mat-icon class="my-icon-class" >delete</mat-icon> </div>
                        </div>
                      </ng-template>
                    </div>

                  </label>
                </div>
                <st2i-button-loading [btnClass]="'my-plus-btn'" (click)="addToListMsType()" > + </st2i-button-loading>


              </div>





    <form class="centered-form"  fxLayout="column" >
      <div  style="margin-bottom: 2.5%">La configuration du serveur Eureka</div>
      <st2i-text-field [placeholder]="'Port de serveur Eureka'"  [control]="getFormMsEurekaControl('eurekaPort')"
        [label]="'Port de serveur Eureka'"
      ></st2i-text-field>
    </form>



    <mat-horizontal-stepper #stepper linear="false" >

      <mat-step    *ngFor="let profil of listProfils; let last = last" errorMessage="Required.">

         <ng-template matStepLabel><div class="step-label" (click)="onProfileLabelClick(profil.idProfile)">
           {{profil.labelProfile | uppercase}} </div>
         </ng-template>


<div  style="margin-bottom: 2.5%">La configuration du la base de données du profil {{profil.labelProfile | uppercase}} </div>
        <div style="background-color: #f5f5f5; padding: 10px; border-radius: 5px; margin-bottom: 2%">

  <div fxLayout="row" fxLayoutAlign="space-between center" >
    <st2i-text-field fxFlex="40" [placeholder]="'Nom de la base de donnée'"   [control]="getFormControl('nameDB')"
                     [label]="'Nom de la base de données'"
    ></st2i-text-field>
    <div style="margin-bottom: 2.5%"> </div> <st2i-text-field fxFlex="25" [placeholder]="'Host de la base de donnée'"   [control]="getFormControl('hostDB')"
                                                                  [label]="'Host'"
  ></st2i-text-field>
    <div  style="margin-bottom: 2.5%">  </div> <st2i-text-field fxFlex="25" [placeholder]="'Port de la base de donnée'"  [control]="getFormControl('portDB')"
                                                                    [label]="'Port'"
  ></st2i-text-field>



  </div>




          <div fxLayout="row " fxLayoutAlign="space-between">
            <st2i-text-field fxFlex="35" fxFlex.gt-sm="30" [placeholder]="'Nom utilisateur de la base de donnée'" [control]="getFormControl('userName')"
                             [label]="'Nom utilisateur de la base de donnée'"></st2i-text-field>

            <st2i-text-field #password type="password" fxFlex="30" fxFlex.gt-sm="25"
                             [isIconPrefix]="true"
                             [suffix]="password.type == 'password' ? 'visibility_off' : 'visibility'"
                             [isIconSuffix]="true"
                             [isSuffixClicked]="true"
                             (suffixClickedEvent)="password.type = password.type == 'password' ? 'text' : 'password'"
                             [placeholder]="'Mot de passe de la base de donnée'"
                             [control]="getFormControl('password')"
                             [label]="'Mot de passe de la base de donnée'"></st2i-text-field>

            <div fxLayout="row" fxLayoutAlign="end">
              <st2i-button-loading (click)="testConnection(profil.labelProfile)" style="margin-right: 5%" fxFlex="auto" [color]="'primary'"   >Test connexion</st2i-button-loading>

              <st2i-button-loading (click)="poursuivreClick(profil.labelProfile)" fxFlex="auto" [color]="'primary'"   >Poursuivre</st2i-button-loading>
            </div>
          </div>



</div>


          <div *ngIf="(connexionDEV && profil.labelProfile === 'dev' && clickedPoursuiveDev)  ||(connexionTEST && profil.labelProfile === 'test' && clickedPoursuiveTest)
           ||(connexionPROD && profil.labelProfile === 'prod' && clickedPoursuiveProd) ||(connexionPREPROD && profil.labelProfile === 'pre-prod'&& clickedPoursuivePreProd)">
        <mat-accordion *ngFor="let msType of listMsTypeToShow" >
          <mat-expansion-panel style="margin-bottom: 3%" hideToggle  *ngIf="msType.labelType != 'Eureka'"
                               (opened)="openMsCustom(msType)" (closed)="closeMsCustom()">
            <mat-expansion-panel-header class="header-style">
              <mat-panel-title>
                {{ msType.labelToDisplay ? msType.labelToDisplay : msType.labelType }}
              </mat-panel-title>
              <mat-panel-description>
                Cette section concerne la config de votre micro-service
              </mat-panel-description>
            </mat-expansion-panel-header>


            <form [formGroup]="formMs">
              <div *ngFor="let control of openedMsList">
                <ng-container *ngIf="(control.idType === msType.idType && control.idProfil === idProfileSelected )
                && control.uniqueId===msType.uniqueId
                && control.cle.indexOf('spring.datasource.url=') === -1
                && control.cle.indexOf('spring.datasource.username=') === -1
                && control.cle.indexOf('spring.datasource.password=') === -1">
                  <st2i-text-field [control]="getFormMsControl(control.idConf+'_'+msType.uniqueId)"
                                   [label]="control.cle">
                  </st2i-text-field>
                </ng-container>
              </div>
            </form>



          </mat-expansion-panel>
        </mat-accordion>
          </div>
        <div fxLayout="row" fxLayoutAlign="end center" >

<!--        <st2i-button-loading *ngIf="last" (click)="generateFromProfile()" [color]="'primary'"   >Générer</st2i-button-loading>-->
        </div>

        <div *ngIf="last" class="st2i-button-container">
          <button mat-button matStepperPrevious (click)="onProfileLabelClick(listProfils[(listProfils.indexOf(profil) - 1) % listProfils.length].idProfile)" >Précédent</button>
          <st2i-button-loading  (click)="generateMs()" [color]="'accent'"  [disabled]="hasEmptyValue()"  >Créer</st2i-button-loading>
        </div>

        <div *ngIf="isOnFirstStep(stepper)" class="st2i-button-container">

          <button mat-button matStepperNext (click)="onProfileLabelClick(listProfils[(listProfils.indexOf(profil) + 1) % listProfils.length].idProfile)">Suivant</button>
        </div>
        <div *ngIf="!isOnFirstStep(stepper)&&!last" class="st2i-button-container">
          <button mat-button matStepperPrevious (click)="onProfileLabelClick(listProfils[(listProfils.indexOf(profil) - 1) % listProfils.length].idProfile)" >Précédent</button>
          <button mat-button matStepperNext (click)="onProfileLabelClick(listProfils[(listProfils.indexOf(profil) + 1) % listProfils.length].idProfile)">Suivant</button>
        </div>

      </mat-step>


    </mat-horizontal-stepper>





  </form>

</div>
